-e git+git://github.com/tmbdev/webdataset.git#egg=webdataset
-e git+git://github.com/NVlabs/ocrodeg.git#egg=ocrodeg
-e git+git://github.com/NVlabs/tensorcom.git#egg=tensorcom
-e git+git://github.com/tmbdev/tarproc.git#egg=tarproc
-e git+git://github.com/tmbdev/torchmore.git#egg=torchmore
-e git+git://github.com/ocropus/ocropus4.git#egg=ocropus
